%header 活动列表
  .header-right
    %button.btn-style.btn-4(ng-click="create_activity()" ) 创建活动
#wrapper.wrapper.scrollable
  %form.wrapper-inner
    %div.wrapper
      %ul.list-style-2
        %li(ng-click="bid(activity.name)" ng-repeat="activity in activities" style="height:40px") {{activity.name}}
