%header 活动列表
  .header-right
    %button.btn-style.btn-4(ng-click="create_activity()" ) 创建活动
#wrapper.wrapper.scrollable
  %form.wrapper-inner
    %button.btn-style.btn-2(ng-click="bid()" ng-repeat="activity in activities" ) {{activity.name}}