%header 竞价报名
  .header-left
    %button.btn-style.btn-4(ng-click="back()") 返回
  .header-right
    %button.btn(ng-click="end()" ng-disabled="bid_start")结束
#wrapper.wrapper
  %ul.list-style-2
    %li(ng-repeat="bidding in biddings")
      %h3
        %p
          {{bidding.bid_name}}
          %p.header-right
            {{bidding.bid_phone}}