%header 报名
  .header-left
    %button.btn-style.btn-4(ng-click="back()") 返回
  .header-right( ng-switch="apply_status")
    %button.btn-4(ng-switch-when="2" ng-click="begain()")开始
    %button.btn-4(ng-switch-when="1" ng-click="end()")结束　
%footer
  %ul.footer-nav.footer-nav-2tabs
    %li
      %a(href="#/bidding")
        %i.icon-group 报名
    %li.active
      %a(href="#/bidding_now")
        %i.icon-comment(href="") 竞价