<header>创建活动
    <div class="header-left">
        <button ng-show="show" ng-click="back_one()" class="btn-style btn-4">返回</button>
    </div>
</header>
<div class="wrapper scrollable" id="wrapper">
    <form>
        <fieldset class="form-wrapper"></fieldset>
        <h5>活动名称</h5><input ng-model="activity" class="input-full"/>

        <p></p>
        <button ng-click="create()" ng-disabled="!activity" style="width:100%" class="btn">创建</button>
        <div style="color:#ff0000" ng-show="hide" class="logo-flat">活动名重复</div>
    </form>
</div>