%header 创建活动
  .header-left
    %a.btn-style.btn-4(ng-show="show" href="#/") 返回
#wrapper.wrapper.scrollable
  %form

    %fieldset.form-wrapper
    %h5 活动名称
    %input.input-full(ng-model="activity")
    %p
    %a.btn(href='#/bidding' ng-click="create()" ng-disabled="!activity" style="width:100%" ) 创建
    %p
    -#%a.btn(href='#/number' style="width:100%" ) 猜数字  小游戏
    %div.logo-flat(style="color:#ff0000" ng-show="hide")  活动名重复


