%header 创建活动
  .header-left
    %button.btn-style.btn-4(ng-show="show" ng-click="back_one()") 返回
#wrapper.wrapper.scrollable
  %form.wrapper-inner
    %fieldset.form-wrapper
    %h5 活动名称
    %input.input-full(ng-model="activity")
    %button.btn-style.btn-2(ng-click="create()" ng-disabled="!activity") 创建



    %div.logo-flat(style="color:#ff0000" ng-show="hide")  活动名重复